<html lang="en" class="h-100">
    <head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app', 'absolute') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100" style="background-color: #f5f5f5">
        <article class="container">
            <div class="container-fluid">
                <div class="row justify-content-center no-gutter">
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="background-color: #f5f5f5">
                            <h5 class="card-title text-center">Відновлення паролю</h5>

                            <p>Для відновлення паролю натисніть на кнопку нижче. Якщо дія з відновлення паролю зроблена не Вами, то проігноруйте це сповіщення.</p>

                            <div class="form-group text-center">
                                <a href="{{ url }}" class="btn btn-lg btn-primary btn-block text-uppercase form-group">Відновити пароль</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </body>
</html>