{% extends 'base.html.twig' %}

{% block article %}
    <div class="row h-100">
        <div class="my-auto mx-auto">
            <div class="text-muted text-center">
                <h1 class="col-12 display-1 d-block">500</h1><br>
                <span class="h3">Сервіс не працює</span>
            </div>
        </div>
    </div>
{% endblock %}