<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <style>
            body{margin:0;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;}
            *,*::before,*::after{box-sizing:border-box;}
            article{display:block;}
            h5{margin-top:0;margin-bottom:0.5rem;}
            p{margin-top:0;margin-bottom:1rem;}
            a{color:#007bff;text-decoration:none;background-color:transparent;}
            a:hover{color:#0056b3;text-decoration:underline;}
            h5{margin-bottom:0.5rem;font-weight:500;line-height:1.2;}
            h5{font-size:1.25rem;}
            .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
            @media (min-width: 576px){
                .container{max-width:540px;}
            }
            @media (min-width: 768px){
                .container{max-width:720px;}
            }
            @media (min-width: 992px){
                .container{max-width:960px;}
            }
            @media (min-width: 1200px){
                .container{max-width:1140px;}
            }
            .container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
            @media (min-width: 576px){
                .container{max-width:540px;}
            }
            @media (min-width: 768px){
                .container{max-width:720px;}
            }
            @media (min-width: 992px){
                .container{max-width:960px;}
            }
            @media (min-width: 1200px){
                .container{max-width:1140px;}
            }
            .row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
            .col-md-6,.col-lg-6{position:relative;width:100%;padding-right:15px;padding-left:15px;}
            @media (min-width: 768px){
                .col-md-6{flex:0 0 50%;max-width:50%;}
            }
            @media (min-width: 992px){
                .col-lg-6{flex:0 0 50%;max-width:50%;}
            }
            .form-group{margin-bottom:1rem;}
            .btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;cursor:pointer;user-select:none;background-color:transparent;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.25rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
            @media (prefers-reduced-motion: reduce){
                .btn{transition:none;}
            }
            .btn:hover{color:#212529;text-decoration:none;}
            .btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25);}
            .btn:disabled{opacity:0.65;}
            .btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;}
            .btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc;}
            .btn-primary:focus{color:#fff;background-color:#0069d9;border-color:#0062cc;box-shadow:0 0 0 0.2rem rgba(38, 143, 255, 0.5);}
            .btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff;}
            .btn-lg{padding:0.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:0.3rem;}
            .btn-block{display:block;width:100%;}
            .card-body{flex:1 1 auto;min-height:1px;padding:1.25rem;}
            .card-title{margin-bottom:0.75rem;}
            .justify-content-center{justify-content:center!important;}
            .text-center{text-align:center!important;}
            .text-uppercase{text-transform:uppercase!important;}
            @media print{
                *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
                p{orphans:3;widows:3;}
                .container{min-width:992px!important;}
            }
        </style>
    </head>

    <body class="d-flex flex-column h-100" style="background-color: #f5f5f5">
        <article class="container">
            <div class="container-fluid">
                <div class="row justify-content-center no-gutter">
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="background-color: #f5f5f5">
                            <h5 class="card-title text-center">Відновлення паролю</h5>

                            <p>Для відновлення паролю пройдіть по посиланню нижче. Якщо дія з відновлення паролю зроблена не Вами, то проігноруйте це сповіщення.</p>

                            <div class="form-group text-center">
                                <a href="{{ url }}" class="form-group">Відновити пароль</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </body>
</html>