<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Competitons{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            {% block header %}
                <div>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="{{ path('competitions_list') }}">Competitions</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                            </ul>
                        </div>
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
                    </nav>
                </div>
            {% endblock %}
        </header>

        <br>

        <article class="container">
            {% block article %}
            {% endblock %}
        </article>

        <br>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
